@import "materialize";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container {
  width: 100%;
}

.pagination {
  text-align: center;
}

.tag-box {
  margin-top: 2rem;
  align-items: center;
  display: flex;

  .tag-list {
    text-align: left;
    flex-grow: 3;
  }

  .tag-form {
    flex-grow: 1;
  }
}


.video-container {
  margin-top: 3rem;

  video {
    width: 100%;
  }
}

.player-control {
  display: flex;
  justify-content: space-around;

  .player-control-button {
    width: 12rem;
    font-size: 2rem;
  }
}

.control {
  margin-top: 3rem;
}
