@import "materialize";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container {
  width: 100%;
}

.pagination {
  text-align: center;
}

.card {
  .card-content {
    padding: 0.4rem;
  }
}

.video-player-container {
  margin-top: 3rem;

  video {
    width: 100%;
  }
}


.player-control {
  display: flex;
  justify-content: space-around;

  .player-control-button {
    width: 12rem;
    font-size: 2rem;
  }
}

.player-metadata {
  padding: 0 10rem;

  .player-detail {
    display: flex;
    justify-content: space-between;
  }

  .tag-box {
    margin-top: 2rem;
    align-items: center;
    display: flex;

    .tag-list {
      text-align: left;
      flex-grow: 3;
    }

    .tag-form {
      flex-grow: 1;
    }
  }

  .control {
    margin-top: 3rem;
  }
}

