@import "materialize";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container {
  width: 100%;
}

.pagination {
  text-align: center;
}

.video-grid {
}

.tag-box {
  margin-top: 2rem;
  align-items: center;
  display: flex;

  .tag-list {
    text-align: left;
    flex-grow: 3;
  }

  .tag-form {
    flex-grow: 1;
  }
}


.video-container {
  margin-top: 3rem;
}

video {
  width: 100%;
}

.control {
  margin-top: 3rem;
}
